.header {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-img {
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-description {
  font-size: 1.0rem;
  align-self: right;
  padding-right: 20px;
}