.mountNode {
    color: #333;
}

.btn {
    background-color: #dedee2;
}

.fa-star {
    margin: 0.5em;
    font-size: 24px;
}

span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    background-color: #dedee2;
    color: #fff;
    cursor: not-allowed;
}

.used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}
