* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
 font-family: 'Popins', sans-serif;
}

section {
  padding: 20px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
