.hero {
  display: flex;
  flex-direction: column;
}

.hero-image {
  max-width: 400px;
  align-self: center;
}

.hero-title {
  margin-bottom: 16px;
  margin-left: 10px;
}

.hero-description {
  margin-left: 10px;
  margin-top: 0px;
}