.main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-panel {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.roll-dice-btn {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.roll-dice-btn:focus {
  outline: none;
}

.roll-dice-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}